<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6d9b63ea-49fe-4d1d-9b03-a6b0e14850cc/resourceGroups/angryusers_group/providers/Microsoft.Web/sites/angryusersapi</ResourceId>
    <ResourceGroup>angryusers_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://angryusersapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>angryusersapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>angryusersapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$angryusersapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AngryUsersContext" Order="1" Enabled="True">
          <Destination Path="server=gqdb-cluster.cluster-cdu9trj3uhij.eu-west-2.rds.amazonaws.com;port=3306;database=test_db;uid=gq_user;password=GQ+Nobody+wouldCare" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AngryUsers.Models.AngryUsersContext, AngryUsers" MigrationConfiguration="AngryUsers.Migrations.Configuration, AngryUsers" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AngryUsersContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>server=gqdb-cluster.cluster-cdu9trj3uhij.eu-west-2.rds.amazonaws.com;port=3306;database=test_db;uid=gq_user;password=GQ+Nobody+wouldCare</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>